@font-face {
    font-family: "Cera Pro Bold";
    src: url(./fonts/CeraPro-Bold.woff2) format("woff2"),
         url(./fonts/CeraPro-Bold.woff) format("woff");
    
}
@font-face {
    font-family: "Cera Pro Medium";
    src: url(./fonts/CeraPro-Medium.woff2) format("woff2"),
         url(./fonts/CeraPro-Medium.woff) format("woff");
}
@font-face {
    font-family: "Cera Pro Regular";
    src: url(./fonts/CeraPro-Regular.woff2) format("woff2"),
         url(./fonts/CeraPro-Regular.woff) format("woff");
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    list-style-type: none;
    font-family: sans-serif;
}

.container {
    padding: 30px 120px 52px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(70, 163, 88, 0.50);
    margin-bottom: 12px;
}

.list
    {
        display: flex;
        gap: 50px;
}

.list-item {
    padding: 8px 0 25px;
    border-bottom: 3px solid transparent;
}

.active{
    border-color: #46a358;
    font-weight: 700;
}


.btn {
    border-radius: 6px;
    background-color: #46A358;
    color: #fff;
    padding: 7px 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.main-title {
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-left: 40px;
    padding-top: 68px;
}

.hero-title {
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-size: 70px;
    font-style: normal;
    font-weight: 900;
    line-height: 70px; /* 100% */
    text-transform: uppercase;
    margin-left: 40px;
    margin-top: 8px;
}
.hero-title-green {
    color: #46A358;
}

.hero-text {
    color: #727272;
    font-family: "Cera Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    margin-left: 40px;
    margin-top: 6px;
}

.hero-btn {
    border-radius: 6px;
    background: #46A358;
    color: rgba(255, 255, 255, 1);
    font-family: "Cera Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 125% */
    text-transform: uppercase;
    padding: 12px 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    margin-top: 44px;
    }