@font-face {
    font-family: "Cera Pro Bold";
    src: url(./fonts/CeraPro-Bold.woff2) format("woff2"),
         url(./fonts/CeraPro-Bold.woff) format("woff");
    
}
@font-face {
    font-family: "Cera Pro Medium";
    src: url(./fonts/CeraPro-Medium.woff2) format("woff2"),
         url(./fonts/CeraPro-Medium.woff) format("woff");
}
@font-face {
    font-family: "Cera Pro Regular";
    src: url(./fonts/CeraPro-Regular.woff2) format("woff2"),
         url(./fonts/CeraPro-Regular.woff) format("woff");
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    list-style-type: none;
    font-family: sans-serif;
}

.container {
    padding: 30px 120px 52px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(70, 163, 88, 0.50);
    margin-bottom: 12px;
}

.list
    {
        display: flex;
        gap: 50px;
}

.list-item {
    padding: 8px 0 25px;
    border-bottom: 3px solid transparent;
}

.active{
    border-color: #46a358;
    font-weight: 700;
}


.btn {
    border-radius: 6px;
    background-color: #46A358;
    color: #fff;
    padding: 7px 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.main {
    display: flex;
    gap: 50px;
    background: linear-gradient(98deg, rgba(245, 245, 245, 0.50) -23.46%, rgba(245, 245, 245, 0.50) 107.51%);
 }

 .left-main {
    padding: 68px 40px 85px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
 }

.left-main-title{
    color: #3D3D3D;
    font-family: "Cera Pro Medium";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

.left-main-h1{
    color: #3D3D3D;
    font-family: "Cera Pro Bold";
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px; /* 100% */
    text-transform: uppercase;
}

.green{
    color: #46A358;
}

.left-main-paragraph{
    color: #727272;
    font-family: "Cera Pro Regular";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    width: 86%;
    }

 .left-main-button {
    margin-top: 37px;
    border-radius: 6px;
    background: #46A358;
    color: #FFF;
    font-family: "Cera Pro Bold";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 125% */
    text-transform: uppercase;
    padding: 12px 26px;
 }