@font-face {
    font-family: "Cera Pro Bold";
    src: url(./fonts/CeraPro-Bold.woff2) format("woff2"),
         url(./fonts/CeraPro-Bold.woff) format("woff");
    
}
@font-face {
    font-family: "Cera Pro Medium";
    src: url(./fonts/CeraPro-Medium.woff2) format("woff2"),
         url(./fonts/CeraPro-Medium.woff) format("woff");
}
@font-face {
    font-family: "Cera Pro Regular";
    src: url(./fonts/CeraPro-Regular.woff2) format("woff2"),
         url(./fonts/CeraPro-Regular.woff) format("woff");
}

p::first-letter{
    font-family: "Cera Pro Bold", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #3D3D3D;
    font-style: normal;
    line-height: 16px;
}