*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    list-style-type: none;
    font-family: sans-serif;
}

.container {
    padding: 30px 120px 52px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(70, 163, 88, 0.50);
    margin-bottom: 12px;
}

.list
    {
        display: flex;
        gap: 50px;
}

.list-item {
    padding: 8px 0 25px;
    border-bottom: 3px solid transparent;
}

.active{
    border-color: #46a358;
    font-weight: 700;
}


.btn {
    border-radius: 6px;
    background-color: #46A358;
    color: #fff;
    padding: 7px 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

