@font-face {
    font-family: "Cera Pro Black";
    src: url(./fonts/CeraPro-Black.woff2) format("woff2"),
         url(./fonts/CeraPro-Black.woff) format("woff");
}

@font-face {
    font-family: "Cera Pro Bold";
    src: url(./fonts/CeraPro-Bold.woff2) format("woff2"),
         url(./fonts/CeraPro-Bold.woff) format("woff");
    
}
@font-face {
    font-family: "Cera Pro Medium";
    src: url(./fonts/CeraPro-Medium.woff2) format("woff2"),
         url(./fonts/CeraPro-Medium.woff) format("woff");
}
@font-face {
    font-family: "Cera Pro Regular";
    src: url(./fonts/CeraPro-Regular.woff2) format("woff2"),
         url(./fonts/CeraPro-Regular.woff) format("woff");
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    list-style-type: none;
    font-family: sans-serif;
}

.container {
    padding: 30px 120px 52px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(70, 163, 88, 0.50);
    margin-bottom: 12px;
}

.list{
    display: flex;
    gap: 50px;
}

.list-item {
    padding: 8px 0 25px;
    border-bottom: 3px solid transparent;
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.list-item-drop{
    padding: 8px 0 25px;
    border-bottom: 3px solid transparent;
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
}

.list-item-drop:hover{
    border-color: #46a358;
    color: #3D3D3D;
    font-family: "Cera Pro Bold";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.active{
    border-color: #46a358;
    color: #3D3D3D;
    font-family: "Cera Pro Bold";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.list-item-dropdown1{
   display: none;
   flex-direction: column;
   position: absolute;
   padding-top: 68px;
   top: 0;
   left: -60px;
   z-index: 10;
}

.dropdown1{
   color: #3D3D3D;
   font-family: "Cera Pro Regular";
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   width: 188px;
   height: 35px;
   padding: 7px 102px 8px 14px;
   align-items: center;
   background-color: #EDF6EE;
}

.dropdown1-hover{
   color: #3D3D3D;
   font-family: "Cera Pro Regular";
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   display: flex;
   padding: 8px 14px;
   align-items: center;
   background-color: #EDF6EE;
   gap: 89px;
}

.dropdown1-hover:hover{
   background: #1A712A;
   color: #FFF;
   font-family: "Cera Pro Bold";
   font-size: 16px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
}

.list-item-drop:hover .list-item-dropdown1{
   display: flex;
}

.list-item-dropdown2{
   display: none;
   flex-direction: column;
   position: absolute;
   top: 68px;
   left: 190px;
}

.dropdown2{
   color: #3D3D3D;
   font-family: "Cera Pro Regular";
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   width: 178px;
   height: 35px;
   padding: 7px 14px 8px 14px;
   align-items: center;
   background-color: #EDF6EE;
   position: relative;
   z-index: 1;
}

.dropdown1-hover:hover .list-item-dropdown2{
   display: flex;
}

.btn {
    font-family: "Cera Pro Medium";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 6px;
    background-color: #46A358;
    color: #fff;
    padding: 7px 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.main {
    display: flex;
    gap: 50px;
    background: linear-gradient(98deg, rgba(245, 245, 245, 0.50) -23.46%, rgba(245, 245, 245, 0.50) 107.51%);
 }

 .left-main {
    padding: 68px 40px 85px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
    width: 55%;
 }

.left-main-title{
    color: #3D3D3D;
    font-family: "Cera Pro Medium";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

.left-main-h1{
    color: #3D3D3D;
    font-family: "Cera Pro Black";
    font-size: 70px;
    font-style: normal;
    font-weight: 900;
    line-height: 70px; /* 100% */
    text-transform: uppercase;
}

.green{
    color: #46A358;
}

.left-main-paragraph{
    color: #727272;
    font-family: "Cera Pro Regular";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    width: 86%;
    }

 .left-main-button {
    margin-top: 37px;
    border-radius: 6px;
    background: #46A358;
    color: #FFF;
    font-family: "Cera Pro Bold";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 125% */
    text-transform: uppercase;
    padding: 12px 26px;
 }

 .right-main{
      position: absolute;
      width: 563px;
      height: 463px;
      right: 110px;
      top: 98px;
 }

 .main-small-plant{
   position: relative;
   left: 55px;
   top: 298px;
 }

 .main-big-plant{
      position: relative;
      top: -142px;
 }

 .shop{
    display: flex;
    gap: 50px;
    margin-top: 26px;
    margin-bottom: 146px;
 }

 .shop-left{
    display: flex;
    flex-direction: column;
    background: #FBFBFB;
 }

 .shop-left-categories{
    padding: 14px 18px;
    align-items: flex-start;
 }

 .shop-left-title{
    color: #3D3D3D;
    font-family: "Cera Pro Bold";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 88.889% */
    margin-bottom: 8px;
 }

 .list-categories{
    display: flex;
    flex-direction: column;
    padding: 0 171px 363px 12px;
    line-height: 40px;
 }

 .list-categories-item-active{
    color: #46A358;
    font-family: "Cera Pro Bold";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 266.667% */
 }

 .list-categories-item{
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
 }

.shop-right{
    display: flex;
    flex-direction: column;
    width: 100%;
}

 .shop-right-header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(70, 163, 88, 0.50);
    margin-bottom: 30px;
 }

 .shop-right-header-list{
    display: flex;
    gap: 40px;
 }

 .shop-list-header-item{
    padding-bottom: 8px;
    border-bottom: 3px solid transparent;
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 106.667% */
 }

 .shop-list-header-item-active{
    color: #46A358;
    font-weight: 700;
    border-bottom: 3px solid #46A358;
 }

 .shop-right-header-sorting{
    display: flex;
    gap: 8px;
 }

 .shop-right-header-sorting-title{
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 106.667% */
 }

.shop-right-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 70px 50px;
}

 .shop-right-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-top-width: 2px ;
    border-top-style: solid;
    border-top-color: transparent;
 }

 .shop-right-card-photo{
    padding: 20px 4px;
    background: #FBFBFB;
    mix-blend-mode: multiply;
    position: relative;
 }

 .card-name{
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
    margin-top: 12px;
    margin-bottom: 6px;
 }

 .card-amount{
    color: #46A358;
    font-family: "Cera Pro Bold";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 88.889% */
 }

 .shop-right-pages{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-top: 90px;
}

.shop-pages-btn-item-active{
    border-radius: 4px;
    background: #46A358;
    border: 1px solid #46A358;
    color: #FFF;
    font-family: "Cera Pro Bold";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 88.889% */
    padding: 8px 12px;
}

.shop-pages-btn-item{
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    background-color: transparent;
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 88.889% */
    padding: 8px 12px;
    min-width: 35px;
    min-height: 35px;
    max-width: 35px;
    max-height: 35px;
}

.shop-pages-btn-item-arrow{
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    background-color: transparent;
    min-width: 35px;
    min-height: 35px;
    max-width: 35px;
    max-height: 35px;
    padding: 8px 10px;
}

.cta{
   gap: 28px;
   display: flex;
}

.cta-card{
      display: flex;
      background: #FBFBFB;
      width: 50%;
}

.cta-photo{
    position: relative;
    top: -52px;
}

.cta-card-right{
      display: flex;
      flex-direction: column;
      align-items: end;
      padding: 40px 30px 46px 0;
      position: relative;
      left: -23px;
      gap: 8px;
}

.cta-title{
   color: #3D3D3D;
   text-align: right;
   font-family: "Cera Pro Black";
   font-size: 18px;
   font-style: normal;
   font-weight: 900;
   line-height: 24px; /* 133.333% */
   text-transform: uppercase;
   width: 80%;
}

.cta-card-p{
   color: #727272;
   text-align: right;
   font-family: "Cera Pro Regular";
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px; /* 171.429% */
}

.cta-card-btn{
   border-radius: 6px;
   background: #46A358;
   color: #FFF;
   font-family: "Cera Pro Medium";
   font-size: 14px;
   font-style: normal;
   font-weight: 500;
   line-height: 20px; /* 142.857% */
   padding: 10px 27px;
   gap: 2px;
   margin-top: 17px;
}

.blog{
      display: flex;
      flex-direction: column;
      gap: 35px;
      margin-top: 138px;
}

.blog-title{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 15px;
}

.blog-title-h2{
   color: #3D3D3D;
   text-align: center;
   font-family: "Cera Pro Bold";
   font-size: 30px;
   font-style: normal;
   font-weight: 700;
   line-height: 16px; /* 53.333% */
}

.blog-title-span{
   color: #727272;
   text-align: center;
   font-family: "Cera Pro Regular";
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px; /* 171.429% */
}

.blog-cards{
   display: flex;
   justify-content: space-between;
   gap: 44px;
}

.blog-card{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   background: #FBFBFB;
   width: 268px;
}

.blog-card-text{
   display: flex;
   flex-direction: column;
   gap: 4px;
   padding: 10px 12px;
}

.blog-card-span{
   color: #46A358;
   font-family: "Cera Pro Medium";
   font-size: 14px;
   font-style: normal;
   font-weight: 500;
   line-height: 16px; /* 114.286% */
}

.blog-card-h4{
   color: #3D3D3D;
   font-family: "Cera Pro Bold";
   font-size: 20px;
   font-style: normal;
   font-weight: 700;
   line-height: 26px; /* 130% */
   width: 80%;
}

.blog-card-p{
   color: #727272;
   font-family: "Cera Pro Regular";
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 22px; /* 157.143% */
}

.blog-card-btn{
   color: #3D3D3D;
   font-family: "Cera Pro Medium";
   font-size: 14px;
   font-style: normal;
   font-weight: 500;
   line-height: 16px; /* 114.286% */
}

.blog-card-btn-active{
   color: #46A358;
   font-family: "Cera Pro Medium";
   font-size: 14px;
   font-style: normal;
   font-weight: 500;
   line-height: 16px; /* 114.286% */
}

.card-hover{
   display: none;
   flex-direction: column;
   align-items: center;
   position: absolute;
}

.btn-hover{
   display: none;
   gap: 10px;
   background-color: #FFF;
   position: absolute;
   justify-content: center;
   bottom: 10px;
   left: 27%;
}

.cart-btn-hover {
   padding: 6px;
   background-color: #FFF;
   cursor: pointer;
   border-radius: 6px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.discount{
   color: #FFF;
   font-family: "Cera Pro Medium";
   font-size: 16px;
   font-style: normal;
   font-weight: 500;
   line-height: 16px; /* 100% */
   padding: 6px 9px;
   background: #46A358;
   position: relative;
   top: -307px;
}

.shop-right-card:hover .btn-hover{
   display: flex;
}

.shop-right-card:hover{
   display: flex;
   border-top-color: #46A358;
}

.cart-btn-hover svg path {
    fill: #3D3D3D;
   }    

.cart-btn-hover:hover svg path{
   fill: #46A358;
}

.footer-join{
   display: flex;
   background-color: #FBFBFB;
   margin-top: 100px;
}

.footer-join-left{
   display: flex;
}

.footer-join-left-card{
   display: flex;
   flex-direction: column;
   gap: 15px;
   margin: 25px;
   margin-right: 60px;
   width: 204px;
   height: 202px;
}

.footer-join-left-text{
   display: flex;
   flex-direction: column;
   gap: 9px;
}

.footer-join-card-h4{
   color: #3D3D3D;
   font-family: "Cera Pro Bold";
   font-size: 17px;
   font-style: normal;
   font-weight: 700;
   line-height: 16px; /* 94.118% */
}

.footer-join-card-p{
   color: #727272;
   font-family: "Cera Pro Regular";
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 22px; /* 157.143% */
}

.footer-join-right{
   display: flex;
   flex-direction: column;
   gap: 21px;
   margin-top: 37px;
   margin-bottom: 25px;
   margin-right: 25px;
}

.footer-join-right-h4{
   color: #3D3D3D;
   font-family: "Cera Pro Bold";
   font-size: 18px;
   font-style: normal;
   font-weight: 700;
   line-height: 16px; /* 88.889% */
}

.footer-join-right-input{
   display: flex;
   gap: 0;
}

.footer-join-right-input-text{
   color: #ACACAC;
   font-family: "Cera Pro";
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 16px; /* 114.286% */
   padding: 12px;
   border-radius: 6px;
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
   background: #FFF;
   width: 269px;
}

.footer-join-right-input-btn{
   color: #FFF;
   font-family: "Cera Pro";
   font-size: 18px;
   font-style: normal;
   font-weight: 700;
   line-height: 16px; /* 88.889% */
   padding: 12px 25px;
   border-radius: 0 6px 6px 0;
   background: #46A358;
}

.footer-join-right-p{
   color: #727272;
   font-family: "Cera Pro";
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 22px; /* 169.231% */
}

.footer-header{
   display: flex;
   justify-content: space-between;
   padding: 25px 33px;
   background: linear-gradient(90deg, #EDF6EF 0%, #52C368 100%);
}

.footer-header-contact{
   display: flex;
   align-items: center;
   gap: 9px;
}

.footer-header-contact-p{
   color: #3D3D3D;
   font-family: "Cera Pro Regular";
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 22px; /* 157.143% */
}

.footer-header-contact-p1{
   color: #3D3D3D;
   font-family: "Cera Pro Regular";
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 22px; /* 157.143% */
   width: 70%;
}

.footer{
   display: flex;
   gap: 173px;
   padding: 25px;
   background: #FBFBFB;
}

.footer-left{
   display: flex;
   justify-content: space-between;
   gap: 147px;
}

.footer-left-nav{
   display: flex;
   flex-direction: column;
   gap: 8px;
}

.footer-left-h4{
   color: #3D3D3D;
   font-family: "Cera Pro Bold";
   font-size: 18px;
   font-style: normal;
   font-weight: 700;
   line-height: 16px; /* 88.889% */
}

.footer-left-list{
   display: flex;
   flex-direction: column;
}

.footer-left-list-item{
   color: #3D3D3D;
   font-family: "Cera Pro Regular";
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 30px; /* 214.286% */
}

.footer-right{
   display: flex;
   flex-direction: column;
   gap: 33px;
}

.footer-right1{
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.footer-right-h4{
   color: #3D3D3D;
   font-family: "Cera Pro Bold";
   font-size: 18px;
   font-style: normal;
   font-weight: 700;
   line-height: 16px; /* 88.889% */
}

.allrightsreserved{
   display: flex;
   justify-content: center;
   color: #3D3D3D;
   font-family: "Cera Pro Regular";
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 30px; /* 214.286% */
   margin-top: 6px;
}

.registration-container{
   padding: 50px 100px;
   width: 500px;
   height: 656px;
   display: flex;
   flex-direction: column;
   z-index: 10;
   background-color: #FFF;
   border-bottom: 10px solid #46A358;
   position: relative;
}

.registration-header{
   display: flex;
   justify-content: center;
   gap: 12px;
   margin-bottom: 40px;
}

.registration-h3{
   color: #3D3D3D;
   font-family: "Cera Pro Medium";
   font-size: 20px;
   font-style: normal;
   font-weight: 500;
   line-height: 16px; /* 80% */
}

.registration-divider{
   color: #3D3D3D;
   font-family: "Cera Pro Regular";
   font-size: 18px;
   font-style: normal;
   font-weight: 300;
   line-height: 16px; /* 88.889% */
}

.registration-h3-active{
   color: #46A358;
   font-family: "Cera Pro Medium";
   font-size: 20px;
   font-style: normal;
   font-weight: 500;
   line-height: 16px; /* 80% */
}

.registration-input{
   display: flex;
   flex-direction: column;
   gap: 16px;
   margin-bottom: 40px;
}

.registration-input-text{
   color: #3D3D3D;
   font-family: "Cera Pro Regular";
   font-size: 13px;
   font-style: normal;
   font-weight: 400;
   line-height: 16px; /* 123.077% */
}

.registration-inputfield{
   color: #A5A5A5;
   font-family: "Cera Pro Regular";
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 16px; /* 114.286% */
   padding: 12px 14px;
   border-radius: 5px;
   border: 1px solid #EAEAEA;
}

.registration-btn{
   color: #FFF;
   font-family: "Cera Pro Bold";
   font-size: 16px;
   font-style: normal;
   font-weight: 700;
   line-height: 16px; /* 100% */
   border-radius: 5px;
   background: #46A358;
   padding: 14px 118px;
   margin-bottom: 36px;
}

.registration-option-text{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 6px;
   margin-bottom: 36px;
}

.registration-option-text-divider{
   width: 96px;
   height: 1px;
   background-color: #EAEAEA;
}

.registration-option-text-span{
   color: #3D3D3D;
   font-family: "Cera Pro Regular";
   font-size: 13px;
   font-style: normal;
   font-weight: 400;
   line-height: 16px; /* 123.077% */
}

.registration-option-btn{
   display: flex;
   flex-direction: column;
   gap: 16px;
}

.registration-option-btn-cntn{
   display: flex;
   justify-content: center;
   align-items: center;
   color: #727272;
   text-align: center;
   font-family: "Cera Pro Medium";
   font-size: 13px;
   font-style: normal;
   font-weight: 500;
   line-height: 16px; /* 123.077% */
   border-radius: 5px;
   border: 1px solid #EAEAEA;
   background-color: #FFF;
   padding: 12px;
   gap: 9px;
}