@font-face {
    font-family: "Cera Pro Black";
    src: url(./fonts/CeraPro-Black.woff2) format("woff2"),
         url(./fonts/CeraPro-Black.woff) format("woff");
}

@font-face {
    font-family: "Cera Pro Bold";
    src: url(./fonts/CeraPro-Bold.woff2) format("woff2"),
         url(./fonts/CeraPro-Bold.woff) format("woff");
    
}
@font-face {
    font-family: "Cera Pro Medium";
    src: url(./fonts/CeraPro-Medium.woff2) format("woff2"),
         url(./fonts/CeraPro-Medium.woff) format("woff");
}
@font-face {
    font-family: "Cera Pro Regular";
    src: url(./fonts/CeraPro-Regular.woff2) format("woff2"),
         url(./fonts/CeraPro-Regular.woff) format("woff");
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    list-style-type: none;
    font-family: sans-serif;
}

.container {
    padding: 30px 120px 52px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(70, 163, 88, 0.50);
    margin-bottom: 12px;
}

.list
    {
        display: flex;
        gap: 50px;
}

.list-item {
    padding: 8px 0 25px;
    border-bottom: 3px solid transparent;
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.active{
    border-color: #46a358;
    color: #3D3D3D;
    font-family: "Cera Pro Bold";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.btn {
    font-family: "Cera Pro Medium";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 6px;
    background-color: #46A358;
    color: #fff;
    padding: 7px 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.main {
    display: flex;
    gap: 50px;
    background: linear-gradient(98deg, rgba(245, 245, 245, 0.50) -23.46%, rgba(245, 245, 245, 0.50) 107.51%);
 }

 .left-main {
    padding: 68px 40px 85px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
 }

.left-main-title{
    color: #3D3D3D;
    font-family: "Cera Pro Medium";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

.left-main-h1{
    color: #3D3D3D;
    font-family: "Cera Pro Black";
    font-size: 70px;
    font-style: normal;
    font-weight: 900;
    line-height: 70px; /* 100% */
    text-transform: uppercase;
}

.green{
    color: #46A358;
}

.left-main-paragraph{
    color: #727272;
    font-family: "Cera Pro Regular";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    width: 86%;
    }

 .left-main-button {
    margin-top: 37px;
    border-radius: 6px;
    background: #46A358;
    color: #FFF;
    font-family: "Cera Pro Bold";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 125% */
    text-transform: uppercase;
    padding: 12px 26px;
 }

 .shop{
    display: flex;
    gap: 50px;
    margin-top: 26px;
    margin-bottom: 146px;
 }

 .shop-left{
    display: flex;
    flex-direction: column;
    background: #FBFBFB;
 }

 .shop-left-categories{
    padding: 14px 18px;
    align-items: flex-start;
 }

 .shop-left-title{
    color: #3D3D3D;
    font-family: "Cera Pro Bold";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 88.889% */
    margin-bottom: 8px;
 }

 .list-categories{
    display: flex;
    flex-direction: column;
    padding: 0 171px 363px 12px;
    line-height: 40px;
 }

 .list-categories-item-active{
    color: #46A358;
    font-family: "Cera Pro Bold";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 266.667% */
 }

 .list-categories-item{
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
 }

.shop-right{
    display: flex;
    flex-direction: column;
    width: 100%;
}

 .shop-right-header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(70, 163, 88, 0.50);
    margin-bottom: 30px;
 }

 .shop-right-header-list{
    display: flex;
    gap: 40px;
 }

 .shop-list-header-item{
    padding-bottom: 8px;
    border-bottom: 3px solid transparent;
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 106.667% */
 }

 .shop-list-header-item-active{
    color: #46A358;
    font-weight: 700;
    border-bottom: 3px solid #46A358;
 }

 .shop-right-header-sorting{
    display: flex;
    gap: 8px;
 }

 .shop-right-header-sorting-title{
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 106.667% */
 }

.shop-right-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 70px 50px;
}

 .shop-right-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
 }

 .shop-right-card-photo{
    padding: 20px 4px;
    background: #FBFBFB;
    mix-blend-mode: multiply;
 }

 .card-name{
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
    margin-top: 12px;
    margin-bottom: 6px;
 }

 .card-amount{
    color: #46A358;
    font-family: "Cera Pro Bold";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 88.889% */
 }

 .shop-right-pages{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-top: 90px;
}

.shop-pages-btn-item-active{
    border-radius: 4px;
    background: #46A358;
    border: 1px solid #46A358;
    color: #FFF;
    font-family: "Cera Pro Bold";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 88.889% */
    padding: 8px 12px;
}

.shop-pages-btn-item{
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    background-color: transparent;
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 88.889% */
    padding: 8px 12px;
    min-width: 35px;
    min-height: 35px;
    max-width: 35px;
    max-height: 35px;
}

.shop-pages-btn-item-arrow{
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    background-color: transparent;
    min-width: 35px;
    min-height: 35px;
    max-width: 35px;
    max-height: 35px;
    padding: 8px 10px;
}

.cta{
   gap: 28px;
   display: flex;
}

.cta-card{
      display: flex;
      background: #FBFBFB;
      width: 50%;
}

.cta-photo{
    position: relative;
    top: -52px;
}

.cta-card-right{
      display: flex;
      flex-direction: column;
      align-items: end;
      padding: 40px 30px 46px 0;
      position: relative;
      left: -23px;
      gap: 8px;
}

.cta-title{
   color: #3D3D3D;
   text-align: right;
   font-family: "Cera Pro Black";
   font-size: 18px;
   font-style: normal;
   font-weight: 900;
   line-height: 24px; /* 133.333% */
   text-transform: uppercase;
   width: 80%;
}

.cta-card-p{
   color: #727272;
   text-align: right;
   font-family: "Cera Pro Regular";
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px; /* 171.429% */
}

.cta-card-btn{
   border-radius: 6px;
   background: #46A358;
   color: #FFF;
   font-family: "Cera Pro Medium";
   font-size: 14px;
   font-style: normal;
   font-weight: 500;
   line-height: 20px; /* 142.857% */
   padding: 10px 27px;
   gap: 2px;
   margin-top: 17px;
}

.blog{
      display: flex;
      flex-direction: column;
      gap: 35px;
      margin-top: 138px;
}

.blog-title{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 15px;
}

.blog-title-h2{
   color: #3D3D3D;
   text-align: center;
   font-family: "Cera Pro Bold";
   font-size: 30px;
   font-style: normal;
   font-weight: 700;
   line-height: 16px; /* 53.333% */
}

.blog-title-span{
   color: #727272;
   text-align: center;
   font-family: "Cera Pro Regular";
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px; /* 171.429% */
}

.blog-cards{
   display: flex;
   gap: 44px;
}

.blog-card{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   background: #FBFBFB;
}

.blog-card-text{
   display: flex;
   flex-direction: column;
   gap: 4px;
   padding: 10px 12px;
}

.blog-card-span{
   color: #46A358;
   font-family: "Cera Pro Medium";
   font-size: 14px;
   font-style: normal;
   font-weight: 500;
   line-height: 16px; /* 114.286% */
}

.blog-card-h4{
   color: #3D3D3D;
   font-family: "Cera Pro Bold";
   font-size: 20px;
   font-style: normal;
   font-weight: 700;
   line-height: 26px; /* 130% */
   width: 80%;
}

.blog-card-p{
   color: #727272;
   font-family: "Cera Pro Regular";
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 22px; /* 157.143% */
   width: 85%;
}

.blog-card-btn{
   color: #3D3D3D;
   font-family: "Cera Pro Medium";
   font-size: 14px;
   font-style: normal;
   font-weight: 500;
   line-height: 16px; /* 114.286% */
}

.blog-card-btn-active{
   color: #46A358;
   font-family: "Cera Pro Medium";
   font-size: 14px;
   font-style: normal;
   font-weight: 500;
   line-height: 16px; /* 114.286% */
}